<a href="https://colab.research.google.com/github/aabbccs123/ATMInterface/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
df = pd.read_excel("Updated_Student_Dataset_With_Modifications.xlsx")

In [10]:
columns_to_drop = ["Attendance Percentage", "Technical Skills Rating", "Soft Skills Rating", "Intermediate Marks"]
df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

In [11]:
import numpy as np
np.random.seed(42)
df["Technical Score (out of 20)"] = np.where(df["Placement Status"] == "Placed",
                                            np.random.randint(16, 21, size=df.shape[0]),
                                            np.random.randint(10, 16, size=df.shape[0]))

In [12]:
from sklearn.preprocessing import MinMaxScaler

# Features that should be scaled
features_to_scale = [
    "Logical Reasoning", "Quants", "Verbal", "Number of Internships",
    "Number of Projects", "Java", "Python", "C++", "ML", "AI", "CC",
    "Tableau", "SQL", "JavaScript", "DSA", "ReactJS", "Graduation Marks",
    "High School Marks", "10th Marks", "MongoDB", "GenAI", "WebDev", "MobileDev"
]

# Apply MinMax Scaling
scaler = MinMaxScaler()
df[features_to_scale] = scaler.fit_transform(df[features_to_scale])

In [13]:
# Expected correlation values
expected_correlation = {
    "Technical Score (out of 20)": 0.888629,
    "Logical Reasoning": 0.887470,
    "Quants": 0.886338,
    "Verbal": 0.886181,
    "Number of Internships": 0.886001,
    "Number of Projects": 0.884277,
    "Java": 0.882535,
    "Python": 0.882535,
    "C++": 0.873509,
    "ML": 0.861777,
    "AI": 0.859255,
    "CC": 0.857981,
    "Tableau": 0.854621,
    "SQL": 0.524064,
    "JavaScript": 0.382765,
    "DSA": 0.483726,
    "ReactJS": 0.335908,
    "Graduation Marks": 0.61263,
    "High School Marks": 0.611017,
    "10th Marks": 0.611375,
    "MongoDB": 0.2871,
    "GenAI": 0.3267,
    "WebDev": 0.3216,
    "MobileDev": 0.3426
}

# Adjust values to match expected correlation
for col, corr_value in expected_correlation.items():
    if col in df.columns:
        df[col] = df[col] * corr_value

In [14]:
df.to_excel("UUUUUUUUUpdated_Student_Dataset_Final.xlsx", index=False)

In [41]:


# Select only numerical columns (int and float)
numerical_df = df.select_dtypes(include=['int64', 'float64'])

# Compute correlation with 'Placement Status'
correlation_with_placement = numerical_df.corr()["Placement Status"].sort_values(ascending=False)

# Print correlation values
print(correlation_with_placement)

CTC                           NaN
Batch                         NaN
High School Marks             NaN
Graduation Marks              NaN
Number of Internships         NaN
Number of Projects            NaN
Placement Status              NaN
10th Marks                    NaN
SQL                           NaN
Python                        NaN
JavaScript                    NaN
Java                          NaN
C++                           NaN
Verbal                        NaN
Logical Reasoning             NaN
Quants                        NaN
AI                            NaN
Tableau                       NaN
ML                            NaN
CC                            NaN
MongoDB                       NaN
NodeJS                        NaN
GenAI                         NaN
DSA                           NaN
MobileDev                     NaN
WebDev                        NaN
ReactJS                       NaN
Technical Score (out of 20)   NaN
12th Marks                    NaN
Name: Placement Status, dtype: float64

In [21]:
df.head(10)

,ZPRN,Name of Student,Branch,Gender,Name of Company,CTC,Nature of Job,Batch,Type of Offer,Comapny Domain,...,CC,MongoDB,NodeJS,GenAI,DSA,MobileDev,WebDev,ReactJS,Technical Score (out of 20),12th Marks
0,121E04463,Amanda Mcintosh,R & A,Female,Microsoft,8.42,Internship,2023,On-Campus,Software,...,0,0,8,0,0,0,0,1,6,75.845399
1,121E06747,Beth Obrien,Civil Engineering,Male,Infosys,24.00,NaN,2022,Off-Campus,Software,...,0,0,20,0,0,1,0,0,14,59.541465
2,121E00484,Terri Ochoa,Mechanical Engineering,Male,Microsoft,23.44,NaN,2023,PPO,Software,...,0,0,16,0,0,0,1,1,5,73.736151
3,121E09171,Zachary Bailey,Information Technology,Female,TCS,3.37,Full-time,2021,On-Campus,NaN,...,1,0,1,0,0,0,0,0,12,52.313672
4,121E06958,Bruce Ray,Information Technology,Female,Google,23.55,Full-time,2020,On-Campus,Software,...,1,0,14,0,1,0,0,1,11,52.640811
5,121E05100,Matthew Lopez,R & A,Female,TCS,24.62,NaN,2021,On-Campus,Banking,...,0,0,13,0,0,1,0,1,5,71.617958
6,121E04274,Lawrence Payne,R & A,Female,Google,19.41,Full-time,2020,Off-Campus,Software,...,0,1,6,0,0,1,0,0,6,58.157427
7,121E05583,Frances Williams,Civil Engineering,Male,NaN,0.00,NaN,2022,Off-Campus,Banking,...,0,0,7,0,1,0,0,1,5,54.149947
8,121E06755,Lisa Blair,Information Technology,Male,Google,13.07,NaN,2021,PPO,Software,...,0,0,11,0,1,1,0,1,13,71.187678
9,121E05510,Krystal Thomas,R & A,Male,NaN,0.00,Full-time,2022,PPO,NaN,...,1,0,2,0,0,0,0,0,10,67.721559

In [36]:
import numpy as np

# Ensure Placement Status is label-encoded (1 for placed, 0 for not placed)
df["Placement Status"] = df["Placement Status"].map({"Placed": 1, "Not Placed": 0})

# Assign values based on Placement Status
df["Technical Score (out of 20)"] = np.where(df["Placement Status"] == 1,
                                             np.random.randint(16, 20, df.shape[0]),
                                             np.random.randint(5, 16, df.shape[0]))

df["Logical Reasoning"] = np.where(df["Placement Status"] == 1,
                                   np.random.randint(16, 20, df.shape[0]),
                                   np.random.randint(5, 16, df.shape[0]))

df["Quants"] = np.where(df["Placement Status"] == 1,
                        np.random.randint(16, 20, df.shape[0]),
                        np.random.randint(5, 16, df.shape[0]))

df["Verbal"] = np.where(df["Placement Status"] == 1,
                        np.random.randint(16, 20, df.shape[0]),
                        np.random.randint(5, 16, df.shape[0]))

df["Number of Internships"] = np.where(df["Placement Status"] == 1,
                                       np.random.randint(2, 4, df.shape[0]),
                                       np.random.randint(0, 2, df.shape[0]))

df["Number of Projects"] = np.where(df["Placement Status"] == 1,
                                    np.random.randint(2, 4, df.shape[0]),
                                    np.random.randint(0, 2, df.shape[0]))

# Programming languages and frameworks (Placed: mostly 1, Not Placed: mix of 0 and 1)
for col in ["Java", "Python", "C++", "ML", "AI", "CC", "SQL", "Tableau", "JavaScript", "DSA", "ReactJS"]:
    df[col] = np.where(df["Placement Status"] == 1,
                       1,
                       np.random.choice([0, 1], size=df.shape[0], p=[0.7, 0.3]))

# Academic scores (Placed: 80-96, Not Placed: lower)
df["Graduation Marks"] = np.where(df["Placement Status"] == 1,
                                  np.random.uniform(80, 96, df.shape[0]),
                                  np.random.uniform(50, 80, df.shape[0]))

df["10th Marks"] = np.where(df["Placement Status"] == 1,
                            np.random.uniform(80, 96, df.shape[0]),
                            np.random.uniform(50, 80, df.shape[0]))

df["12th Marks"] = np.where(df["Placement Status"] == 1,
                            np.random.uniform(80, 96, df.shape[0]),
                            np.random.uniform(50, 80, df.shape[0]))

# Less influential tech stacks (Placed: mostly 1, Not Placed: more 0s but some 1s)
for col in ["MongoDB", "GenAI", "MobileDev", "WebDev"]:
    df[col] = np.where(df["Placement Status"] == 1, 1, 0)


# Shuffle the dataset to remove patterns
df = df.sample(frac=1).reset_index(drop=True)

In [40]:
for col in ["MongoDB", "GenAI", "MobileDev", "WebDev"]:
    df[col] = np.where(df["Placement Status"] == 1,
                       np.random.choice([0, 1], size=df.shape[0], p=[0.6, 0.4]),
                       np.random.choice([0, 1], size=df.shape[0], p=[0.8, 0.2]))

In [28]:
df['Placement Status'] = np.where(df['Name of Company'].notna(), 'Placed', 'Not Placed')

In [29]:
# Display the first 10 rows of the 'Company Name' and 'Placement Status' columns
print(df[['Name of Company', 'Placement Status']].head(10))

  Name of Company Placement Status
0       Microsoft           Placed
1         Infosys           Placed
2       Microsoft           Placed
3             TCS           Placed
4          Google           Placed
5             TCS           Placed
6          Google           Placed
7             NaN       Not Placed
8          Google           Placed
9             NaN       Not Placed

In [30]:
missing_values_count = df.isna().sum()
print(missing_values_count)

ZPRN                              0
Name of Student                   0
Branch                            0
Gender                            0
Name of Company                2062
CTC                               0
Nature of Job                  3396
Batch                             0
Type of Offer                     0
Comapny Domain                 2445
Industry Location              2026
Department Alocated            2457
Job Role                       2492
High School Marks                 0
Graduation Marks                  0
Number of Internships             0
Number of Projects                0
Programming Languages Known       0
Extracurricular Activities        0
Placement Status                  0
10th Marks                        0
SQL                               0
Python                            0
JavaScript                        0
Java                              0
C++                               0
Verbal                            0
Logical Reasoning                 0
Quants                            0
AI                                0
Tableau                           0
ML                                0
CC                                0
MongoDB                           0
NodeJS                            0
GenAI                             0
DSA                               0
MobileDev                         0
WebDev                            0
ReactJS                           0
Technical Score (out of 20)       0
12th Marks                        0
dtype: int64